* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.container {
  width: 594px;
  margin: 0 auto;
  border: 1px solid;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
}

.bigPapaDiv {
  height: 224px;
  overflow: auto;
  border-radius: 0 0 16px 16px;
}

.red1 {
  padding: 24px 24px;
  border-bottom: 1px solid #dee2e6;
}
.red1 :first-child {
  width: 356px;
  height: 38px;
  border-radius: 4px;
  margin-right: 24px;
  border-color: #ced4da;
  box-sizing: border-box;
  padding-left: 14px;
}

.red1 :last-child {
  color: #fff;
  background-color: #272829;
  padding: 10px 47px;
  border-radius: 4px;
  border: 0;
}

::placeholder {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.red2 {
  align-items: center;
  display: flex;
  padding: 32px 24px 26px;
}

.inputBox {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  border-radius: 2px;
  border-color: #abb5be;
  cursor: pointer;
}

.paragraf {
  width: 455px;
  margin-right: 43px;
  color: #54595e;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.cross {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 21px;
  color: red;
  border: 0;
}

.red3 {
  background-color: #f5f5f5;
  bottom: 0;
  width: 594px;
  border-radius: 0 0 16px 16px;
}

.red3 :first-child {
  width: 214px;
  height: 39px;
  border-radius: 4px;
  border: 0;
  margin: 18px 201px 18px 24px;
  background-color: #6c757d;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.red3 :last-child {
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 10px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
